{%extends 'app1/homepage.html'%}
{%block content%}
<br>
<div class="row">
  <div class="col-md">
     <div class="card card-body">
  <h5>PACIENTI</h5>
  </div>
  <div class="card card-body">
    <table id='pacient' class="table">
      <tr>
        <th onclick="sortStrTable(0)">CNP pacient &#9650</th>
        <th onclick="sortStrTable(1)">Nume &#9650</th>
        <th onclick="sortStrTable(2)">Prenume &#9650</th>
        <th onclick="sortStrTable(3)">Telefon &#9650</th>
        <th onclick="sortStrTable(4)">Email &#9650</th>
        <th onclick="sortDateTable(5)">Data nasterii &#9650</th>
        <th onclick="sortStrTable(6)">Nr asigurare &#9650</th>
        <th onclick="sortStrTable(7)">Parola cont &#9650</th>
        <th >Editare</th>
        <th >Stergere</th>
      </tr>

{% for pac in pacienti %}
<tr>
  <td>{{pac.cnp}}</td>
  <td>{{pac.nume}}</td>
  <td>{{pac.prenume}}</td>
  <td>{{pac.telefon}}</td>
  <td>{{pac.email}}</td>
  <td>{{pac.data_nasterii}}</td>
  <td>{{pac.nr_asigurare}}</td>
  <td>{{pac.parola_cont}}</td>
  <td><a class="btn btn-sm btn-info" href="{% url 'update_pacient' pk=pac.cnp %}">Editare</a></td>
  <td><a class="btn btn-sm btn-danger" href="{% url 'delete_pacient' pk=pac.cnp %}">Stergere</a></td>
</tr>
{% endfor %}

    </table>
    </div>
</div>
</div>

<script >

$('th').on('click', function(){
		var column = $(this).data('column')
		var order = $(this).data('order')
		var text = $(this).html()
		text = text.substring(0, text.length - 1)

		if(order == 'desc'){
			$(this).data('order', "asc")
			text += '&#9660'

		}else{
			$(this).data('order', "desc")
			text += '&#9650'

		}
		$(this).html(text)
	})

  function sortStrTable(n) {
var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
table = document.getElementById("pacient");
switching = true;
dir = "asc"; 
while (switching) {
  switching = false;
  rows = table.rows;
  for (i = 1; i < (rows.length - 1); i++) {
    shouldSwitch = false;
    x = rows[i].getElementsByTagName("TD")[n];
    y = rows[i + 1].getElementsByTagName("TD")[n];
    if (dir == "asc") {
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        shouldSwitch= true;
        break;
      }
    } else if (dir == "desc") {
      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        break;
      }
    }
  }
  if (shouldSwitch) {
    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
    switching = true;
    switchcount ++;      
  } else {
    if (switchcount == 0 && dir == "asc") {
      dir = "desc";
      switching = true;
    }
  }
}
}


function sortDateTable(n) {
var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
table = document.getElementById("pacient");
switching = true;
dir = "asc"; 
while (switching) {
  switching = false;
  rows = table.rows;
  for (i = 1; i < (rows.length - 1); i++) {
   shouldSwitch = false;
    x = rows[i].getElementsByTagName("TD")[n];
    y = rows[i + 1].getElementsByTagName("TD")[n]; 
    if (dir == "asc") {
      if (Date.parse(x.innerHTML) < Date.parse(y.innerHTML)) {
        shouldSwitch= true;
        break;
      }
    } else if (dir == "desc") {
      if (Date.parse(x.innerHTML) > Date.parse(y.innerHTML)) {
        shouldSwitch = true;
        break;
      }
    }
  }
  if (shouldSwitch) {
    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
    switching = true;
    switchcount ++;      
  } else {
    if (switchcount == 0 && dir == "asc") {
      dir = "desc";
      switching = true;
    }
  }
}
}
</script>

{%endblock%}